#projects-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #353535;
  font-size: 54px;
  margin-bottom: 1.5%;
  font-weight: 500;
  text-align: center;
}

.project-line {
  height: 2px;
  background: #fff;
  width: 75px;
  margin: 25px auto;
  transition: 1.2s ease;
}

.projects-grid {
  margin: auto 8%;
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4% 2%;
}

.project-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 27em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
  transition: 0.5s ease;
}

.project-text {
  color: #fff;
  font-size: 2em;
  text-align: center;
  width: 85%;
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 4px 10px;
  overflow: hidden;
  border: 2px solid transparent;
  transform: translate(-50%);
  transition: 1.2s ease;
}

.project-title {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Barlow Condensed', sans-serif;
  border-radius: 30px;
  overflow: hidden;
  transition: 1.2s ease;
}

#hidden-languages,
.project-item p {
  text-align: center;
  position: absolute;
  transform: translate(-50%);
  color: #fff;
  font-size: 1.2em;
  min-width: 45%;
  padding: 2% 6%;
  left: 50%;
  bottom: 5%;
  transition: 1.2s ease;
}

.project-item p {
  font-size: 1.4em;
  width: 85%;
  position: absolute;
  left: 50%;
  padding: 4px 10px;
  line-height: 1.4em;
  color: #fff;
  font-weight: 300;
  top: 45%;
  overflow: hidden;
  transition: 1.2s ease;
}

.project-overlay {
  background: #c0a583f6;
  width: 100%;
  height: 100%;
  transition: 1.2s ease;
}

.project-item:hover .project-overlay {
  bottom: 100%;
  height: 0%;
  transition: 0.5s ease;
}

.project-item:hover .project-text {
  background: #353535af;
  width: 94%;
  overflow: hidden;
  top: 37%;
  transition: 0.5s ease;
}

.project-item:hover p {
  bottom: 100%;
  top: 0%;
  overflow: hidden;
  transition: 0.5s ease;
}

.project-item:hover #hidden-languages {
  bottom: 100%;
  height: 0%;
  overflow: hidden;
  transition: 0.5s ease;
}

.project-item:hover .project-title {
  transform: scale(1.35);
  transition: 0.5s ease;
}

.project-item:hover .project-line {
  width: 90%;
  margin: 15px auto 10px auto;
  transition: 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2% 2%;
    margin: auto 5%;
  }

  #hidden-languages {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }

  .project-text {
    width: 90%;
  }

  #projects-header {
    font-size: 3em;
  }
}
