* {
  color: #353535;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.nav-unscrolled,
.nav-scrolled {
  position: fixed;
  top: 0;
  padding-top: 12px;
  height: 58px;
  width: 100%;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.nav-unscrolled {
  color: #fff;
  background: none;
  transition: 1s ease;
}

.nav-scrolled {
  background: #fff;
  color: #929396;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  transition: 1s ease;
}

.nav-unscrolled a,
.nav-scrolled a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.nav-unscrolled .navlogo a,
.nav-scrolled .navlogo a {
  font-family: 'Barlow Condensed', sans-serif;
  float: left;
  font-size: 36px;
  margin-left: 3em;
}

.nav-unscrolled .navlogo a:hover,
.nav-scrolled .navlogo a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlogo a {
  color: white;
}

.nav-scrolled .navlogo a {
  color: #353535;
}

.nav-unscrolled .navlinks, 
.nav-scrolled .navlinks {
  font-weight: 400;
  margin-top: 6px;
  margin-right: 2em;
  float: right;
}

.nav-unscrolled .navlinks a,
.nav-scrolled .navlinks a {
  float: right;
  margin: 5px 12px;
  padding: 5px 0;
  transition: 0.2s;
  position: relative;
}

.nav-unscrolled .navlinks a {
  color: #fff;
}

.nav-scrolled .navlinks a {
  color: #929396;
}

.nav-unscrolled .navlinks a:hover,
.nav-scrolled .navlinks a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlinks a::before,
.nav-scrolled .navlinks a::before {
  content: "";
  position: absolute;
  height: 0.5px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #c0a583;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.nav-unscrolled .navlinks a:hover::before,
.nav-scrolled .navlinks a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.splash {
  background: url(../splash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.splash-overlay {
  background: #000;
  opacity: 0.40;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.splash-overlay-hover {
  background: #916936;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.splash-intro {
  text-align: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.splash-name {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.splash-bio {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.splash-button {
  margin-top: 2em;
  position: relative;
  text-shadow: none;
}

.splash-button a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: 0.5s ease;
}

.splash-button a:hover {
  background: #fff;
  opacity: 0.75;
  color: #353535;
}

.about {
  position: relative;
  width: 100vw;
  /* height: 60vh; */
}

.about-content {
  margin: 2% 20%;
  line-height: 2em;
  /* width: 500px; */
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #929396;
  z-index: 1;
}

.about-icons {
  margin: 30px 0 15px 0;
  text-align: center;
}

.about-icon {
  display: inline-block;
  width: 60px;
  margin-right: 30px;
  transition: 0.5s ease;
  font-size: 14px;
  color: #999999;
}

#skills {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 500;
}

.projects {
  background: #353535;
  width: 100vw;
  height: 60vh;
  font-family: 'Arvo', serif;
}

hr {
  border: 1px solid #c0a583;
  background: #c0a583;
}