* {
  color: #353535;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.nav-unscrolled,
.nav-scrolled {
  position: fixed;
  top: 0;
  padding-top: 12px;
  height: 58px;
  width: 100%;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.nav-unscrolled {
  color: #fff;
  background: none;
  transition: 1s ease;
}

.nav-scrolled {
  background: #fff;
  color: #929396;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  transition: 1s ease;
}

.nav-unscrolled a,
.nav-scrolled a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.nav-unscrolled .navlogo a,
.nav-scrolled .navlogo a {
  font-family: 'Barlow Condensed', sans-serif;
  float: left;
  font-size: 36px;
  margin-left: 3em;
}

.nav-unscrolled .navlogo a:hover,
.nav-scrolled .navlogo a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlogo a {
  color: white;
}

.nav-scrolled .navlogo a {
  color: #353535;
}

.nav-unscrolled .navlinks, 
.nav-scrolled .navlinks {
  font-weight: 400;
  margin-top: 6px;
  margin-right: 2em;
  float: right;
}

.nav-unscrolled .navlinks a,
.nav-scrolled .navlinks a {
  float: right;
  margin: 5px 12px;
  padding: 5px 0;
  transition: 0.2s;
  position: relative;
}

.nav-unscrolled .navlinks a {
  color: #fff;
}

.nav-scrolled .navlinks a {
  color: #929396;
}

.nav-unscrolled .navlinks a:hover,
.nav-scrolled .navlinks a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlinks a::before,
.nav-scrolled .navlinks a::before {
  content: "";
  position: absolute;
  height: 0.5px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #c0a583;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.nav-unscrolled .navlinks a:hover::before,
.nav-scrolled .navlinks a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.splash {
  background: url(../splash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.splash-overlay {
  background: #000;
  opacity: 0.40;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.splash-overlay-hover {
  background: #916936;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.splash-intro {
  text-align: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.splash-name {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.splash-bio {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.splash-button {
  margin-top: 2em;
  position: relative;
  text-shadow: none;
}

.splash-button a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: 0.5s ease;
}

.splash-button a:hover {
  background: #fff;
  opacity: 0.75;
  color: #353535;
}

.about {
  position: relative;
  width: 100vw;
}

.about-content {
  margin: 5% 20%;
  position: relative;
}

.about-content p {
  line-height: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #929396;
  margin-bottom: 8%;
}

.about-icons {
  margin: 30px 0 15px 0;
  text-align: center;
}

.about-icon {
  display: inline-block;
  width: 60px;
  margin-top: 1%;
  transition: 0.5s ease;
  font-size: 14px;
  color: #999999;
}

.about-icon:not(:last-child) {
  margin-right: 2em;
}

#about-mystory {
  font-size: 36px;
  margin-bottom: 15px;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}

#about-skills {
  font-size: 36px;
  margin-bottom: 2%;
  font-weight: 500;
  text-align: center;
}

.projects {
  background: #353535;
  width: 100vw;
  font-family: 'Arvo', serif;
}

#projects-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 54px;
  padding-top: 5%;
  margin-bottom: 2%;
  font-weight: 500;
  text-align: center;
}

.projects-grid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 27em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-text {
  color: #fff;
  font-size: 2.3em;
  text-align: center;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.project-text p {
  font-size: 0.6em;
  line-height: 1.5em;
  color: #fff;
  font-weight: 300;
}

.project-overlay {
  background: #000;
  opacity: 0.73;
  width: 100%;
  height: 100%;
  transition: 1.5s ease;
  z-index: 1;
}

.project-overlay-hover {
  background: #916936;
  opacity: 0.93;
  width: 100%;
  height: 100%;
  transition: 1.5s ease;
}

.photography {
  width: 100vw;
  height: 60vh;
  position: relative;
  background: #353535;
}

.blog {
  width: 100vw;
  position: relative;
  background: #fff;
  margin: 4em 0;
}

.blog-grid {
  margin: 4em 4em;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(3, 1fr)
}

.blog-grid a {
  text-decoration: none;
}

.blog-item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 13em;
  transition: 1.5s ease;
}

.blog-item:hover {
  background: #c0a583;
  transition: 1.5s ease;
}

.blog-content {
  padding: 2em 2em 1.5em 2em;
}

.blog-title {
  font-size: 24px;
  margin-bottom: 0.2em;
}

.blog-description {
  font-weight: 300;
}

.blog-date {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0.75em;
}

.blog-date time {
  color: #707070;
}

hr {
  border: 1px solid #c0a583;
  background: #c0a583;
  width: 150px;
  margin: auto;
  margin-bottom: 15px;
}

hr.project-line {
  border: 0.5px solid #fff;
  background: #fff;
  width: 75px;
  margin: 15px auto;
  transition: 1.5s ease;
}

hr.project-line-hover {
  border: 0.5px solid #fff;
  background: #fff;
  width: 150px;
  margin: 15px auto;
  transition: 1.5s ease;
}

@media screen and (max-width: 1200px) {

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr)
  }

  .nav-unscrolled a,
  .nav-scrolled a {
    font-size: 14px;
  }

  .nav-unscrolled .navlogo a,
  .nav-scrolled .navlogo a {
    float: left;
    font-size: 32px;
    margin-left: 1em;
  }
  
}

@media screen and (max-width: 800px) {

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-grid {
    margin: 2em 1em;
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr)
  }

  .blog-title {
    margin-bottom: 0.3em;
    font-size: 20px;
  }

  .blog-date {
    font-size: 14px;
    font-weight: 300;
  }

  .about-content {
    margin: 5% 3%;
    position: relative;
  }

  .splash-intro {
    width: 95%;
  }
  
  .splash-name {
    font-size: 36px;;
  }
  
  .splash-bio {
    font-size: 20px;
  }

  .project-text {
    width: 95%;
  }

  #about-mystory {
    font-size: 24px;
  }
  
  #about-skills {
    font-size: 24px;
  }

  .nav-unscrolled a,
  .nav-scrolled a {
    font-size: 12px;
  }

  .nav-unscrolled .navlinks, 
  .nav-scrolled .navlinks {
    font-weight: 400;
    margin-top: 0;
    margin-right: 2em;
    float: right;
  }

  .nav-unscrolled,
  .nav-scrolled {
    height: 70px;
  }
  
}