* {
  color: #353535;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

.nav-unscrolled,
.nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.nav-unscrolled {
  padding-top: 28px;
  color: #fff;
  background: none;
  height: 90px;
  transition: 1s ease;
}

.nav-scrolled {
  padding-top: 12px;
  background: #fff;
  color: #929396;
  height: 58px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  transition: 1s ease;
}

.nav-unscrolled a,
.nav-scrolled a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.nav-unscrolled .navlogo a,
.nav-scrolled .navlogo a {
  font-family: 'Barlow Condensed', sans-serif;
  float: left;
  font-size: 36px;
  margin-left: 3em;
}

.nav-unscrolled .navlogo a:hover,
.nav-scrolled .navlogo a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlogo a {
  color: white;
}

.nav-scrolled .navlogo a {
  color: #353535;
}

.navlinks {
  padding-right: 4em;
}

.nav-unscrolled .navlinks a,
.nav-scrolled .navlinks a {
  float: right;
  margin: 9px 12px 5px 12px;
  padding: 4px 0;
  position: relative;
}

.nav-unscrolled .navlinks a {
  color: #fff;
}

.nav-scrolled .navlinks a {
  color: #929396;
}

.nav-unscrolled .navlinks a:hover,
.nav-scrolled .navlinks a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlinks a:after,
.nav-scrolled .navlinks a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c0a583;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.nav-unscrolled .navlinks a:hover:after,
.nav-scrolled .navlinks a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#splash {
  background: url(../splash.png) no-repeat center center fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.splash-overlay {
  background: #000;
  opacity: 0.30;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.splash-overlay-hover {
  background: #916936;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.splash-intro {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.splash-name {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 6em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.splash-bio {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.splash-title {
  font-weight: 600;
  color: #fff;
}

.splash-button {
  margin-top: 1.5em;
  position: relative;
  text-shadow: none;
  cursor: pointer;
}

.splash-button a {
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: 0.5s ease;
}

.splash-button a:hover {
  background: #fff;
  opacity: 0.75;
  color: #353535;
}

#about {
  position: relative;
  width: 100vw;
  padding-top: 4em;
}

.about-content {
  margin: 5% 20%;
  margin-top: 0;
  position: relative;
}

.about-content p {
  line-height: 2em;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  color: #929396;
  margin-bottom: 1em;
  text-align: justify;
}

.about-icons,
.contact-icons {
  margin: 30px 0 15px 0;
  position: relative;
  text-align: center;
}

.contact-icons a {
  text-decoration: none;
}

.about-icon,
.contact-icon {
  display: inline-block;
  width: 60px;
  margin-top: 1%;
  transition: 0.5s ease;
  font-size: 14px;
  color: #999999;
}

.contact-icon {
  cursor: pointer;
}

.contact-icon:not(:last-child) {
  margin-right: 4em; 
}

.about-icon:not(:last-child) {
  margin-right: 2em;
}

#about-mystory {
  font-size: 36px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}

#about-skills {
  font-size: 36px;
  margin-bottom: 2%;
  margin-top: 1.5em;
  font-weight: 500;
  text-align: center;
}

#projects {
  background: #353535;
  width: 100vw;
}

#projects-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 54px;
  padding-top: 5%;
  margin-bottom: 1.5%;
  font-weight: 500;
  text-align: center;
}

.projects-grid {
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 27em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-text {
  color: #fff;
  font-size: 2.3em;
  text-align: center;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.project-text p {
  font-size: 0.6em;
  line-height: 1.5em;
  color: #fff;
  font-weight: 300;
}

.project-overlay {
  background: #000;
  opacity: 0.73;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  z-index: 1;
}

.project-overlay-hover {
  background: #a77535;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.photography {
  width: 100vw;
  height: 60vh;
  position: relative;
  background: #353535;
}

#blog {
  width: 100vw;
  position: relative;
  background: #fff;
  padding-top: 4em;
  padding-bottom: 2em;
}

#blog-header,
#contact-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #353535;
  font-size: 54px;
  margin-bottom: 1.5%;
  font-weight: 500;
  text-align: center;
}

.blog-grid {
  margin: 4em 4em;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(4, 1fr)
}

.blog-grid a {
  text-decoration: none;
}

.blog-item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 20em;
  transition: 1.5s ease;
}

.blog-item:hover {
  background: #c0a583;
  transition: 1.5s ease;
}

.blog-content {
  padding: 2em 2em 1.5em 2em;
}

.blog-title {
  font-size: 24px;
  margin-bottom: 0.2em;
}

.blog-description {
  font-family: 'Inconsolata', monospace;
  color: #707070;
}

.blog-date {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0.75em;
}

.blog-date time {
  color: #c0a583;
  font-family: 'Inconsolata', monospace;
}

#contact {
  position: relative;
  width: 100vw;
  padding-top: 4em;
  padding-bottom: 4em;
}

#quote {
  background: url(../splash3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 35vh;
}

.quote-overlay {
  background: #000;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

hr {
  border: 1px solid #c0a583;
  background: #c0a583;
  width: 150px;
  margin: auto;
  margin-bottom: 15px;
}

hr.project-line {
  border: 0.5px solid #fff;
  background: #fff;
  width: 75px;
  margin: 15px auto;
  transition: 1.5s ease;
}

hr.project-line-hover {
  border: 0.5px solid #fff;
  background: #fff;
  width: 150px;
  margin: 15px auto;
  transition: 1.5s ease;
}

hr.splash-line {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 200px;
  background: #fff;
  opacity: 0.75;
}

#copyright {
  width: 100%;
  text-align: center;
  margin-top: 6em;
  margin-bottom: 1em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1200px) {

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr)
  }

  .nav-unscrolled .navlogo a,
  .nav-scrolled .navlogo a {
    font-size: 32px;
    margin-left: 1em;
  }

  .about-content {
    margin: 5% 10%;
  }
  
}

@media screen and (max-width: 800px) {

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-item {
    height: 14em;
  }

  .blog-grid {
    margin: 2em 1em;
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr)
  }

  .blog-title {
    margin-bottom: 0.3em;
    font-size: 20px;
  }

  .blog-date {
    font-size: 14px;
    font-weight: 300;
  }

  .about-content {
    margin: 5% 3%;
  }

  .about-content p {
    line-height: 1.5em;
  }

  .contact-icon {
    width: 40px;
  }

  .splash-intro {
    width: 95%;
  }
  
  .splash-name {
    font-size: 4em;
  }
  
  .splash-bio {
    font-size: 2em;
  }
  
  .splash-button a {
    width: 7em;
  }

  .project-text {
    width: 95%;
  }

  #about-mystory {
    font-size: 24px;
  }
  
  #about-skills {
    font-size: 24px;
  }

  #blog-header, 
  #projects-header,
  #contact-header {
    font-size: 3em;
  }

  .nav-unscrolled .navlinks, 
  .nav-scrolled .navlinks {
    margin-left: 1.5em;
    padding-right: 0;
    float: left;
  }

  .nav-unscrolled,
  .nav-scrolled {
    height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .nav-unscrolled .navlinks a, 
  .nav-scrolled .navlinks a {
    margin-top: 0;
  }
}