.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  z-index: 6;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-close {
  position: fixed;
  right: 0.5em;
  font-size: 2.5em;
  cursor: pointer;
  color: #929396;
}

.modal-close:hover {
  color: #c0a583;
}

.modal-content {
  font-size: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  text-align: left;
}

.modal-column1 {
  flex: 70%;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.modal-column2 {
  flex: 30%;
  position: relative;
  height: 0;
  margin: 2em 1em 2em 1em;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.modal-languages {
  text-align: center;
  margin-top: 1em;
}

.modal-languages p {
  text-align: center;
  margin-bottom: 0.5em;
}

.modal-icon {
  display: inline-block;
  width: 3vw;
  margin-top: 1%;
  transition: 0.5s ease;
  font-size: 1vw;
  color: #999999;
  margin-right: 2.5vw;
}

.modal-highlights {
  margin-top: 0.5em;
  padding-left: 1em;
}

.modal-highlights li {
  font-size: 0.75em;
  text-align: left;
}

.view-code {
  text-align: center;
  text-shadow: none;
  cursor: pointer;
  margin: 2em 0 0 0;
  position: relative;
}

.view-code a {
  background: #c0a583;
  position: relative;
  padding: 0.5vw 2vw;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;
  transition: 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 95%;
  }

  .modal-icon {
    width: 4vw;
  }

  .modal-content {
    font-size: 1.8vw;
    display: flex;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {

  .modal {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .modal-icon {
    width: 8vw;
    font-size: 2vw;
  }

  .modal-close {
    right: 0.3em;
  }

  .modal-highlights li {
    font-size: 1em;
  }

  .modal-content {
    flex-direction: column;
    font-size: 2.5vw;
  }

  .modal-column1 {
    order: 2;
  }
  
  .modal-column2 {
    order: 1;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    font-size: 4vw;
  }
}