.about-content {
  margin: 3% 20% 5% 20%;
  position: relative;
}

.about-content p {
  line-height: 1.6rem;
  font-size: 1.4rem;
  color: #353535;
  margin-bottom: 2rem;
  text-align: justify;
}

#about-more {
  background-color: #fff;
  padding: 0.75rem 3rem;
  border-radius: 1.5rem;
  border: 1.5px solid #353535;
  margin-top: 1%;
  color: #353535;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.5s ease;
}

#about-more:hover {
  color: #fff;
  background: #c0a583;
  border: 1.5px solid transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
  transform: translate(-50%);
}

#about-more:active {
  transform: translate(-50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#about-more-content {
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

.about-icons {
  margin: 3rem 0 1.5rem 0;
  position: relative;
  text-align: center;
}

.about-icon {
  text-align: center;
  font-weight: 400;
  display: inline-block;
  width: 60px;
  margin-top: 1%;
  transition: 0.5s ease;
  font-size: 0.9rem;
  color: #353535;
}

.about-icon {
  color: #fff;
}

.about-icon:not(:last-child) {
  margin-right: 2.3rem;
}

#about-mystory-container {
  display: flex;
}

#about-mystory {
  flex: 1;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
}

#about-mystory p {
  margin-top: 1rem;
}

#about-mystory:not(:last-child) {
  padding-right: 2rem;
}

#about-skills {
  font-size: 2.5rem;
  margin-bottom: 2%;
  margin-top: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .about-content {
    margin: 5% 10%;
  }
}

@media screen and (max-width: 800px) {
  #about-mystory-container {
    display: block;
  }

  #about-mystory:not(:last-child) {
    padding-right: 0;
  }

  #about-skills {
    font-size: 1.5rem;
    padding-bottom: 25px;
  }
}
