#splash-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#splash {
  background-image: url(./splash.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  height: 100%;
  animation: shrink 5s 1 alternate;
  animation-delay: 5s;
  -webkit-animation: shrink 5s 1 alternate;
  -moz-animation: shrink 5s 1 alternate;
  -o-animation: shrink 5s 1 alternate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

.splash-overlay {
  background: #000;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 1.5s ease;
  animation: fadeInOverlay ease 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

.splash-intro {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.splash-name {
  letter-spacing: 0.1em;
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 6em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}

.splash-bio {
  color: #fff;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  opacity: 0;
}

.splash-title {
  color: #fff;
}

.splash-location {
  margin-bottom: 1.5em;
  color: #fff;
}

.splash-button {
  position: relative;
  text-shadow: none;
  cursor: pointer;
  padding: 8px 36px;
  border-radius: 20px;
  border: 1.5px solid #fff;
  display: inline-block;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  opacity: 0;
  transition: 0.5s ease;
}

.splash-button a {
  font-size: 0.75em;
  background: none;
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}

.splash-button:hover {
  background: rgba(255, 255, 255, 0.747);
  color: #353535;
  transition: 0.5s ease;
}

.splash-button:hover a {
  color: #000;
}

.splash-line {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 125px;
  background: #fff;
  opacity: 0.75;
  transition: 1s ease;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

.splash-line-hover {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 300px;
  background: #fff;
  opacity: 0.75;
  transition: 1s ease;
}

@media screen and (max-width: 800px) {

  .splash-intro {
    width: 95%;
  }
  
  .splash-name {
    font-size: 3.5em;
  }
  
  .splash-bio {
    font-size: 1.5em;
  }
  
  .splash-button a {
    width: 8em;
  }

  #splash {
    background-position: 75%;
    background-attachment: scroll;
  }
}