@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}



@keyframes navTop {
  0% {top: -100px;}
  100% {top: 0;}
}

@-webkit-keyframes navTop {
  0% {top: -100px;}
  100% {top: 0;}
}

@-moz-keyframes navTop {
  0% {top: -100px;}
  100% {top: 0;}
}

@-o-keyframes navTop {
  0% {top: -100px;}
  100% {top: 0;}
}

@-ms-keyframes navTop {
  0% {top: -100px;}
  100% {top: 0;}
}


@keyframes shrink {
  0% {
    transform: scale(4)
  }
  100% {
    transform: scale(1)
  }
}

@-webkit-keyframes shrink {
  0% {
    transform: scale(4)
  }
  100% {
    transform: scale(1)
  }
}

@-moz-keyframes shrink {
  0% {
    transform: scale(4)
  }
  100% {
    transform: scale(1)
  }
}

@-o-keyframes shrink {
  0% {
    transform: scale(4)
  }
  100% {
    transform: scale(1)
  }
}


@keyframes fadeInOverlay {
  0% {opacity:1;}
  100% {opacity:0.2;}
}

@-moz-keyframes fadeInOverlay {
  0% {opacity:1;}
  100% {opacity:0.2;}
}

@-webkit-keyframes fadeInOverlay {
  0% {opacity:1;}
  100% {opacity:0.2;}
}

@-o-keyframes fadeInOverlay {
  0% {opacity:1;}
  100% {opacity:0.2;}
}

@-ms-keyframes fadeInOverlay {
  0% {opacity:1;}
  100% {opacity:0.20;}
}

/* Beat */

@keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-moz-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-webkit-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-o-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-ms-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}
