@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


@keyframes shrink {
  0% {
    background-size: 400%;
  }
  100% {
    background-size: 100%;
  }
}
@-webkit-keyframes shrink {
  0% {
    background-size: 400%;
  }
  100% {
    background-size: 100%;
  }
}

@-moz-keyframes shrink {
  0% {
    background-size: 400%;
  }
  100% {
    background-size: 100%;
  }
}

@-o-keyframes shrink {
  0% {
    background-size: 400%;
  }
  100% {
    background-size: 100%;
  }
}


@keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@-moz-keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@-webkit-keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@-o-keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@-ms-keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@keyframes rock {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-3deg);
    -webkit-transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(3deg);
    -webkit-transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}

@-webkit-keyframes rock {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-3deg);
    -webkit-transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(3deg);
    -webkit-transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}


/* Beat */

@keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-moz-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-webkit-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-o-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-ms-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}
