@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


@keyframes shrink {
  0% {
    transform: scale(3,3);
  }
  100% {
    transform: scale(1,1);
  }
}
@-webkit-keyframes shrink {
  0% {
    transform: scale(3,3);
  }
  100% {
    transform: scale(1,1);
  }
}

@-moz-keyframes shrink {
  0% {
    transform: scale(3,3);
  }
  100% {
    transform: scale(1,1);
  }
}

@-o-keyframes shrink {
  0% {
    transform: scale(3,3);
  }
  100% {
    transform: scale(1,1);
  }
}


@keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@-moz-keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@-webkit-keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@-o-keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}

@-ms-keyframes fadeInOverlay {
  0% {opacity:0.95;}
  100% {opacity:0.25;}
}