* {
  color: #353535;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

.nav-unscrolled,
.nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.nav-unscrolled {
  padding-top: 28px;
  color: #fff;
  background: none;
  height: 90px;
  transition: 1s ease;
}

.nav-scrolled {
  padding-top: 12px;
  background: #fff;
  color: #929396;
  height: 58px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  transition: 1s ease;
}

.nav-unscrolled a,
.nav-scrolled a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.nav-unscrolled .navlogo a,
.nav-scrolled .navlogo a {
  font-family: 'Barlow Condensed', sans-serif;
  float: left;
  font-size: 36px;
  margin-left: 3em;
}

.nav-unscrolled .navlogo a:hover,
.nav-scrolled .navlogo a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlogo a {
  color: white;
}

.nav-scrolled .navlogo a {
  color: #353535;
}

.navlinks {
  padding-right: 4em;
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  opacity: 0;
}

.navlogo {
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.nav-unscrolled .navlinks a,
.nav-scrolled .navlinks a {
  float: right;
  margin: 9px 12px 5px 12px;
  padding: 4px 0;
  position: relative;
}

.nav-unscrolled .navlinks a {
  color: #fff;
}

.nav-scrolled .navlinks a {
  color: #929396;
}

.nav-unscrolled .navlinks a:hover,
.nav-scrolled .navlinks a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlinks a:after,
.nav-scrolled .navlinks a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c0a583;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.nav-unscrolled .navlinks a:hover:after,
.nav-scrolled .navlinks a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#splash-container {
  width: 100vw;
  height: 100vh;
}

#splash {
  background-image: url(../splash.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  height: 100%;
  transform: scale(1);
  animation: shrink 5s 1 alternate;
  -webkit-animation: shrink 5s 1 alternate;
  -moz-animation: shrink 5s 1 alternate;
  -o-animation: shrink 5s 1 alternate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

.splash-overlay {
  background: #000;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  animation: fadeInOverlay ease 10s;
}

.splash-overlay-hover {
  background: #865e2a;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.splash-intro {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.splash-name {
  letter-spacing: 0.1em;
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 6em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}

.splash-bio {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  opacity: 0;
}

.splash-title {
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.splash-button {
  margin-top: 1.5em;
  position: relative;
  text-shadow: none;
  cursor: pointer;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  opacity: 0;
}

.splash-button a {
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: 0.5s ease;
}

.splash-button a:hover {
  background: #fff;
  opacity: 0.75;
  color: #353535;
}

#about {
  position: relative;
  width: 100vw;
  padding-top: 4em;
}

.about-content {
  margin: 5% 20%;
  margin-top: 0;
  position: relative;
}

.about-content p {
  line-height: 1.5em;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  color: #353535;
  margin-bottom: 1em;
  text-align: justify;
}

.about-icons,
.contact-icons {
  margin: 30px 0 15px 0;
  position: relative;
  text-align: center;
}

.contact-icons {
  padding-bottom: 10em;
  margin-top: 65px;
}

.contact-icons a {
  text-decoration: none;
  color: #fff;
  padding: 24px 36px;
  border-radius: 50%;
  background:#c4c4c4;
}

.contact-icons a:hover {
  background:#c0a583;
}

.about-icon,
.contact-icon {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  display: inline-block;
  width: 60px;
  margin-top: 1%;
  transition: 0.5s ease;
  font-size: 14px;
  color: #353535;
}

.about-icon {
  color: #fff;
}

.contact-icon {
  cursor: pointer;
}

#contact-form {
  font-size: 1.2em;
  border-radius: 12px;
  padding: 2%;
  margin: 5% auto;
  text-align: center;
  width: 450px;
  opacity: 0.5;
  background: #c0a583;
  transition: 2s;
}

#contact-form:hover {
  background: #c0a583;
  opacity: 1;
}

#contact-form p {
  margin-bottom: 5%;
  font-size: 2em;
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#contact-form input[type="text"] {
  font-size: 1em;
  padding: 2% 2%;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 100%;
  box-sizing: border-box;
}

#contact-form input[type="text"]:hover {
  background: rgb(255, 241, 216);
}

#contact-form input[type="text"]:focus,
#contact-form input[type="submit"]:focus,
#contact-message:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color:#353535;
  background: #ffead1;
}

#contact-form input[type="submit"] {
  font-size: 1em;
  cursor: pointer;
  background: #fff;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 2% 4%;
  border-radius: 4px;
  border: 1px solid transparent;
}

#contact-form input[type="submit"]:hover {
  border: 1px solid #fff;
  background: #ffead1;
}

#contact-form div {
  color: #fff;
  margin-bottom: 3%;
}

#contact-message {
  padding: 2% 2%;
  font-size: 1em;
  margin-top: 1%;
  height: 100px;
  text-align: top;
  border-radius: 4px;
  border: 1px solid transparent;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

#contact-message:hover {
  background: rgb(255, 241, 216);
}

.contact-icon:not(:last-child) {
  margin-right: 2em; 
  margin-bottom: 1em;
}

.about-icon:not(:last-child) {
  margin-right: 2.2em;
}

#about-mystory-container {
  display: flex;
}

#about-mystory {
  flex: 1;
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#about-mystory p {
  margin-top: 0.5em;
}

#about-mystory:not(:last-child) {
  padding-right: 1.5em;
}

#about-skills {
  font-size: 36px;
  margin-bottom: 2%;
  margin-top: 1.5em;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#projects {
  width: 100vw;
  padding-top: 4em;
  padding-bottom: 15em;
  background: #fff;
}

section:nth-child(4) {
  clip-path: polygon(0 0%, 100% 15%, 100% 100%, 0 85%);
}

section:nth-child(6) {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.projects-grid {
  margin: auto 8%;
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5% 2%;
}

.project-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 27em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
  transition: 0.5s ease;
}

.project-item:hover {
  animation: rock 0.5s ease;
  animation-iteration-count: 1;
  -webkit-animation: rock 0.5s ease;
  -webkit-animation-iteration-count: 1;
  transition: 0.5s ease;
}

.project-text {
  color: #fff;
  font-size: 2em;
  text-align: center;
  width: 85%;
  position: absolute;
  top: 22%;
  left: 50%;
  padding: 4px 10px;
  border: 2px solid transparent;
  transform: translate(-50%);
  z-index: 1;
}

.project-title {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Barlow Condensed', sans-serif;
}

.project-text p {
  font-family: 'Playfair Display', serif;
  font-size: 0.7em;
  line-height: 1.5em;
  color: #fff;
  font-weight: 300;
}

#hidden-languages {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 1.2em;
  padding: 4px 10px;
  bottom: 5%;
  border: 2px solid #c0a583;
  background: #353535;
}

.project-overlay {
  background: #c0a583f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.project-overlay-hover {
  background: none;
}

#blog, #skills {
  width: 100vw;
  position: relative;
  background: #353535;
  padding-top: 10em;
  padding-bottom: 10em;
}

#skills {
  background: #353535;
  padding-top: 4em;
  padding-bottom: 8em;
}

#blog-header,
#contact-header,
#projects-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #353535;
  font-size: 54px;
  margin-bottom: 1.5%;
  font-weight: 500;
  text-align: center;
}

#blog-header {
  color: #fff;
}

.blog-grid {
  margin: 4em 4em;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(4, 1fr)
}

.blog-grid a {
  text-decoration: none;
}

.blog-item {
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 14em;
  background: #fff;
  transition: 0.5s ease;
}

.blog-item:hover {
  background: #c0a583;
  box-shadow: #e0c099 0px 3px 30px;
  animation: swing 1s ease;
  animation-iteration-count: 1;
  -webkit-animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
}

.blog-item:hover .blog-content .blog-title,
.blog-item:hover .blog-content .blog-date time {
  color: #fff;
  transition: 0.5s ease;
}

.blog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.blog-title {
  font-size: 3.5vh;
  margin-bottom: 0.4em;
  font-family: 'Barlow Condensed', sans-serif;
}

.blog-date {
  font-size: 2.5vh;
  font-weight: 300;
  margin-bottom: 0.75em;
}

.blog-date time {
  color: #c0a583;
  font-family: 'Inconsolata', monospace;
}

#contact {
  position: relative;
  background: #fff;
  width: 100vw;
  padding-top: 6em;
}

#quote {
  background: url(../splash2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 30vh;
  margin-top: 25px;
}

.quote-overlay {
  background: rgb(80, 61, 39);
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.project-line {
  border: 0.5px solid #fff;
  background: #fff;
  width: 75px;
  margin: 25px auto;
  transition: 0.5s ease;
}

.project-line-hover {
  border: 0.5px solid #fff;
  background: #fff;
  width: 175px;
  margin: 25px auto;
  transition: 0.5s ease;
}

.splash-line {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 125px;
  background: #fff;
  opacity: 0.75;
  transition: 1s ease;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

.splash-line-hover {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 300px;
  background: #fff;
  opacity: 0.75;
  transition: 1s ease;
}

.line {
  margin: 1em auto;
  border: 1px solid #c0a583;
  background: #c0a583;
  width: 0px;
  transition: 3s ease;
  visibility: hidden;
}

.line-scroll {
  margin: 1em auto;
  border: 1px solid #c0a583;
  background: #c0a583;
  width: 225px;
  transition: 3s ease;
}

#copyright {
  background: #c0a583;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1200px) {

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 5%;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr)
  }

  .nav-unscrolled .navlogo a,
  .nav-scrolled .navlogo a {
    font-size: 32px;
    margin-left: 1em;
  }

  .about-content {
    margin: 5% 10%;
  }

  #hidden-languages {
    font-size: 1em;
  }
  
}

@media screen and (max-width: 800px) {

  #contact-form {
    width: 90vw;
    margin-top: 10%;
    opacity: 1;
  }

  #projects {
    padding-bottom: 4em;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }

  .blog-item {
    height: 14em;
  }

  .blog-grid {
    margin: 2em 1em;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr)
  }

  .blog-item {
    height: 10em;
  }

  .about-content {
    margin: 5% 5%;
  }

  .contact-icon {
    width: 48px;
    font-size: 0.6em;
  }

  .contact-icons a {
    padding: 14px 20px;
    background:#c0a583;
  }

  .contact-icons a:hover {
    background:#353535;
  }

  .contact-icon:not(:last-child) {
    margin-right: 1.5em; 
  }

  .splash-intro {
    width: 95%;
  }
  
  .splash-name {
    font-size: 3.5em;
  }
  
  .splash-bio {
    font-size: 1.5em;
  }
  
  .splash-button a {
    width: 7em;
  }

  .project-text {
    width: 90%;
  }

  #about-mystory-container {
    display: block;
  }

  #about-mystory:not(:last-child) {
    padding-right: 0;
  }

  #about-mystory {
    font-size: 24px;
  }
  
  #about-skills {
    font-size: 24px;
    padding-bottom: 25px;
  }

  section:nth-child(4) {
    clip-path: polygon(0 0%, 100% 3%, 100% 100%, 0 97%);
  }

  section:nth-child(6) {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  }

  #blog {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  #blog-header, 
  #projects-header,
  #contact-header {
    font-size: 3em;
  }

  .nav-unscrolled .navlinks, 
  .nav-scrolled .navlinks {
    margin-left: 1.5em;
    padding-right: 0;
    float: left;
  }

  .nav-unscrolled,
  .nav-scrolled {
    height: 70px;
  }

  #splash {
    background-position: 75%;
    background-attachment: scroll;
  }

  #quote {
    background-attachment: scroll;
  }
}


@media screen and (max-width: 600px) {
  .nav-unscrolled .navlinks a, 
  .nav-scrolled .navlinks a {
    margin-top: 0;
  }

}