#splash-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#splash {
  background-image: url(../splash.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  height: 100%;
  animation: shrink 5s 1 alternate;
  animation-delay: 5s;
  -webkit-animation: shrink 5s 1 alternate;
  -moz-animation: shrink 5s 1 alternate;
  -o-animation: shrink 5s 1 alternate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

.splash-overlay {
  background: #000;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 1.5s ease;
  animation: fadeInOverlay ease 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

.splash-intro {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.splash-name {
  letter-spacing: 0.1em;
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 6em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}

.splash-bio {
  color: #fff;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  opacity: 0;
}

.splash-title {
  color: #fff;
}

.splash-location {
  margin-bottom: 1.5em;
  color: #fff;
}

.splash-button {
  position: relative;
  text-shadow: none;
  cursor: pointer;
  padding: 8px 36px;
  border-radius: 20px;
  border: 1.5px solid #fff;
  display: inline-block;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  opacity: 0;
  transition: 0.5s ease;
}

.splash-button a {
  font-size: 0.75em;
  background: none;
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}

.splash-button:hover {
  background: rgba(255, 255, 255, 0.747);
  color: #353535;
  transition: 0.5s ease;
}

.splash-button:hover a {
  color: #000;
}

#about {
  position: relative;
  width: 100vw;
  padding-top: 4em;
}

.about-content {
  margin: 3% 20% 5% 20%;
  position: relative;
}

.about-content p {
  line-height: 1.5em;
  font-size: 18px;
  color: #353535;
  margin-bottom: 1em;
  text-align: justify;
}

#about-more {
  padding: 10px 30px;
  border-radius: 20px;
  border: 1.5px solid #353535;
  margin-top: 1%;
  color: #353535;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.5s ease;
}

#about-more:hover {
  color: #fff;
  background: #c0a583;
  border: 1.5px solid transparent;
  transition: 0.5s ease;
}

#about-more-content {
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

.about-icons,
.contact-icons {
  margin: 30px 0 15px 0;
  position: relative;
  text-align: center;
}

.contact-icons {
  padding-bottom: 10em;
  margin-top: 65px;
}

.contact-icons a {
  text-decoration: none;
  color: #fff;
  padding: 30px 32px;
  border-radius: 50%;
  background:#c4c4c4;
}

.contact-icons a:hover {
  background:#c0a583;
  animation: beat 1s 1 alternate;
  -webkit-animation: beat 1s 1 alternate;
  -moz-animation: beat 1s 1 alternate;
  -o-animation: beat 1s 1 alternate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

.about-icon,
.contact-icon {
  text-align: center;
  font-weight: 400;
  display: inline-block;
  width: 60px;
  margin-top: 1%;
  transition: 0.5s ease;
  font-size: 14px;
  color: #353535;
}

.about-icon {
  color: #fff;
}

.contact-icon {
  cursor: pointer;
  width: 50px;
  font-size: 0.75em;
}

#contact-form {
  font-size: 1.2em;
  border-radius: 12px;
  padding: 2%;
  margin: 5% auto;
  text-align: center;
  width: 450px;
  background: #c0a583;
  transition: 2s;
}

#contact-form:hover {
  box-shadow: #e0c099 0px 3px 30px;
}

#contact-form p {
  margin-bottom: 5%;
  font-size: 2em;
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#contact-form input[type="text"] {
  font-size: 1.5em;
  padding: 2% 2% 0 0;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: 1s;
}

#contact-form input[type="text"]:focus,
#contact-form input[type="submit"]:focus,
#contact-message:focus {
  outline-style: none;
  border-bottom: 1px solid #c0a583a9;
  transition: 1s;
}

#contact-form input[type="submit"] {
  font-size: 1em;
  cursor: pointer;
  background: rgb(253, 230, 165);
  margin-bottom: 1%;
  width: 100%;
  padding: 4% 4%;
  border: 1px solid transparent;
}

#contact-form input[type="submit"]:hover {
  background: rgb(255, 218, 115);
}

#contact-form span:first-child {
  text-align: left;
  color: rgb(138, 128, 128);
}

#contact-form span:nth-child(2) {
  color: rgb(0, 218, 18);
  float: right;
  font-size: 0.7em;
}

#contact-form form div {
  padding: 4% 4% 2% 4%;
  background: #fff;
  text-align: left;
  margin-bottom: 1.5%;
  font-size: 0.7em;
}

#contact-form-success {
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

#contact-message {
  padding: 2% 2% 2% 0;
  font-size: 1.5em;
  height: 100px;
  text-align: top;
  border: 1px solid transparent;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  transition: 1s;
}

.contact-icon:not(:last-child) {
  margin-right: 2em; 
  margin-bottom: 1em;
}

.about-icon:not(:last-child) {
  margin-right: 2.2em;
}

#about-mystory-container {
  display: flex;
}

#about-mystory {
  flex: 1;
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}

#about-mystory p {
  margin-top: 0.5em;
}

#about-mystory:not(:last-child) {
  padding-right: 1.5em;
}

#about-skills {
  font-size: 36px;
  margin-bottom: 2%;
  margin-top: 1.5em;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

#projects {
  width: 100vw;
  padding-top: 4em;
  padding-bottom: 15em;
  background: #fff;
}

section:nth-child(4) {
  clip-path: polygon(0 0%, 100% 15%, 100% 100%, 0 85%);
}

section:nth-child(6) {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.projects-grid {
  margin: auto 8%;
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5% 2%;
}

.project-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 27em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
  transition: 0.5s ease;
}

.project-text {
  color: #fff;
  font-size: 2em;
  text-align: center;
  width: 85%;
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 4px 10px;
  border: 2px solid transparent;
  transform: translate(-50%);
  transition: 1.2s ease;
}

.project-title {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Barlow Condensed', sans-serif;
  border-radius: 30px;
  transition: 1.2s ease;
}

#hidden-languages,
.project-item p {
  text-align: center;
  position: absolute;
  transform: translate(-50%);
  color: #fff;
  font-size: 1.2em;
  min-width: 45%;
  padding: 2% 6%;
  left: 50%;
  bottom: 5%;
  transition: 1.2s ease;
}

.project-item p {
  font-size: 1.4em;
  width: 85%;
  position: absolute;
  left: 50%;
  padding: 4px 10px;
  line-height: 1.4em;
  color: #fff;
  font-weight: 300;
  top: 45%;
  transition: 1.2s ease;
}

.project-overlay {
  background: #c0a583f6;
  width: 100%;
  height: 100%;
  transition: 1.2s ease;
}

.project-item:hover .project-overlay {
  bottom: 100%;
  height: 0%;
  transition: 0.5s ease;
}

.project-item:hover .project-text {
  background: #353535af;
  width: 94%;
  overflow: hidden;
  top: 37%;
  transition: 0.5s ease;
}

.project-item:hover p {
  bottom: 100%;
  top: 0%;
  overflow: hidden;
  transition: 0.5s ease;
}

.project-item:hover #hidden-languages {
  bottom: 100%;
  height: 0%;
  overflow: hidden;
  transition: 0.5s ease;
}

.project-item:hover .project-title {
  transform: scale(1.5);
  transition: 0.5s ease;
}

.project-item:hover .project-line {
  width: 90%;
  margin: 15px auto 10px auto;
  transition: 0.5s ease;
}

#blog, #skills {
  width: 100vw;
  position: relative;
  background: #353535;
  padding-top: 10em;
  padding-bottom: 10em;
}

#skills {
  background: #353535;
  padding-top: 4em;
  padding-bottom: 8em;
}

#blog-header,
#contact-header,
#projects-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #353535;
  font-size: 54px;
  margin-bottom: 1.5%;
  font-weight: 500;
  text-align: center;
}

#blog-header {
  color: #fff;
}

.blog-grid {
  margin: 4em 4em;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(4, 1fr)
}

.blog-grid a {
  text-decoration: none;
}

.blog-item {
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 14em;
  background: #fff;
  transition: 0.2s ease;
}

.blog-item:hover {
  background: #c0a583;
  box-shadow: #e0c099 0px 3px 30px;
  transition: 0.2s ease;
}

.blog-item:hover .blog-content .blog-title,
.blog-item:hover .blog-content .blog-date time {
  color: #fff;
  transition: 0.2s ease;
}

.blog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.blog-title {
  text-align: center;
  font-size: 3.5vh;
  margin-bottom: 0.4em;
  font-family: 'Barlow Condensed', sans-serif;
  transition: 0.2s ease;
}

.blog-date {
  text-align: center;
  font-size: 2.5vh;
  font-weight: 300;
  margin-bottom: 0.75em;
}

.blog-date time {
  color: #c0a583;
  font-size: 0.75em;
  transition: 0.2s ease;
}

#contact {
  position: relative;
  background: #fff;
  width: 100vw;
  padding-top: 6em;
}

#quote {
  background: url(../splash2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 30vh;
  margin-top: 25px;
}

.quote-overlay {
  background: rgb(80, 61, 39);
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.project-line {
  height: 2px;
  background: #fff;
  width: 75px;
  margin: 25px auto;
  transition: 1.2s ease;
}

.splash-line {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 125px;
  background: #fff;
  opacity: 0.75;
  transition: 1s ease;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

.splash-line-hover {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 300px;
  background: #fff;
  opacity: 0.75;
  transition: 1s ease;
}

.line {
  margin: 1em auto;
  border: 1px solid #c0a583;
  background: #c0a583;
  width: 0px;
  transition: 3s ease;
  visibility: hidden;
}

.line-scroll {
  margin: 1em auto;
  border: 1px solid #c0a583;
  background: #c0a583;
  width: 225px;
  transition: 3s ease;
}

#copyright {
  background: #c0a583;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #c0a583;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 1200px) {

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 5%;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr)
  }

  .about-content {
    margin: 5% 10%;
  }

  #hidden-languages {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {

  #contact-form {
    width: 90vw;
    margin-top: 10%;
  }

  #projects {
    padding-bottom: 4em;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }

  .blog-grid {
    margin: 2em 1em;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr)
  }

  .blog-item {
    height: 8em;
  }

  .about-content {
    margin: 5% 5%;
  }

  .contact-icon {
    width: 48px;
    font-size: 0.6em;
  }

  .contact-icons a {
    padding: 18px 20px;
    background:#c0a583;
  }

  .contact-icons a:hover {
    background:#353535;
  }

  .contact-icon:not(:last-child) {
    margin-right: 1.5em; 
  }

  .splash-intro {
    width: 95%;
  }
  
  .splash-name {
    font-size: 3.5em;
  }
  
  .splash-bio {
    font-size: 1.5em;
  }
  
  .splash-button a {
    width: 8em;
  }

  .project-text {
    width: 90%;
  }

  #about-mystory-container {
    display: block;
  }

  #about-mystory:not(:last-child) {
    padding-right: 0;
  }

  #about-mystory {
    font-size: 24px;
  }
  
  #about-skills {
    font-size: 24px;
    padding-bottom: 25px;
  }

  section:nth-child(4) {
    clip-path: polygon(0 0%, 100% 3%, 100% 100%, 0 97%);
  }

  section:nth-child(6) {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  }

  #blog {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  #blog-header, 
  #projects-header,
  #contact-header {
    font-size: 3em;
  }

  #splash {
    background-position: 75%;
    background-attachment: scroll;
  }

  #quote {
    background-attachment: scroll;
  }
}