* {
  color: #353535;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

.nav-unscrolled,
.nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.nav-unscrolled {
  padding-top: 28px;
  color: #fff;
  background: none;
  height: 90px;
  transition: 1s ease;
}

.nav-scrolled {
  padding-top: 12px;
  background: #fff;
  color: #929396;
  height: 58px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  transition: 1s ease;
}

.nav-unscrolled a,
.nav-scrolled a {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.nav-unscrolled .navlogo a,
.nav-scrolled .navlogo a {
  font-family: 'Barlow Condensed', sans-serif;
  float: left;
  font-size: 36px;
  margin-left: 3em;
}

.nav-unscrolled .navlogo a:hover,
.nav-scrolled .navlogo a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlogo a {
  color: white;
}

.nav-scrolled .navlogo a {
  color: #353535;
}

.navlinks {
  padding-right: 4em;
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  opacity: 0;
}

.navlogo {
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  opacity: 0;
}

.nav-unscrolled .navlinks a,
.nav-scrolled .navlinks a {
  float: right;
  margin: 9px 12px 5px 12px;
  padding: 4px 0;
  position: relative;
}

.nav-unscrolled .navlinks a {
  color: #fff;
}

.nav-scrolled .navlinks a {
  color: #929396;
}

.nav-unscrolled .navlinks a:hover,
.nav-scrolled .navlinks a:hover {
  color: #c0a583;
}

.nav-unscrolled .navlinks a:after,
.nav-scrolled .navlinks a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c0a583;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.nav-unscrolled .navlinks a:hover:after,
.nav-scrolled .navlinks a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#splash {
  background-image: url(../splash.jpg);
  background-repeat: no-repeat;
  background-position: none;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  width: 100vw;
  height: 100vh;
  animation: shrink 5s infinite alternate;
  -webkit-animation: shrink 5s infinite alternate;
  -moz-animation: shrink 5s infinite alternate;
  -o-animation: shrink 5s infinite alternate;
}

.splash-overlay {
  background: #000;
  opacity: 0.40;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  animation: fadeInOverlay ease 10s;
}

.splash-overlay-hover {
  background: #865e2a;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.splash-intro {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.splash-name {
  letter-spacing: 0.1em;
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 6em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}

.splash-bio {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  opacity: 0;
}

.splash-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
}

.splash-button {
  margin-top: 1.5em;
  position: relative;
  text-shadow: none;
  cursor: pointer;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  opacity: 0;
}

.splash-button a {
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: 0.5s ease;
}

.splash-button a:hover {
  background: #fff;
  opacity: 0.75;
  color: #353535;
}

#about {
  position: relative;
  width: 100vw;
  padding-top: 4em;
}

.about-content {
  margin: 5% 20%;
  margin-top: 0;
  position: relative;
}

.about-content p {
  line-height: 2em;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  color: #353535;
  margin-bottom: 1em;
  text-align: justify;
}

.about-icons,
.contact-icons {
  margin: 30px 0 15px 0;
  position: relative;
  text-align: center;
}

.contact-icons {
  padding-bottom: 10em;
  margin-top: 65px;
}

.contact-icons a {
  text-decoration: none;
  color: #fff;
}

.about-icon,
.contact-icon {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: inline-block;
  width: 60px;
  margin-top: 1%;
  transition: 0.5s ease;
  font-size: 14px;
  color: #353535;
}

.contact-icon {
  cursor: pointer;
}

.contact-icon:hover {
  color: #c0a583;
}

.contact-icon:not(:last-child) {
  margin-right: 4em; 
}

.about-icon:not(:last-child) {
  margin-right: 2.2em;
}

#about-mystory {
  font-size: 36px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}

#about-skills {
  font-size: 36px;
  margin-bottom: 2%;
  margin-top: 1.5em;
  font-weight: 500;
  text-align: center;
}

#projects {
  width: 100vw;
  padding-top: 4em;
  padding-bottom: 15em;
  background: #fff;
}

.projects-grid {
  margin: auto 8%;
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}

.project-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 27em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
}

.project-text {
  color: #fff;
  font-size: 2.2em;
  text-align: center;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.project-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.project-text p {
  font-size: 0.7em;
  line-height: 1.5em;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.project-overlay {
  background: #c0a583;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  z-index: 1;
}

.project-overlay-hover {
  background: #000;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.photography {
  width: 100vw;
  height: 60vh;
  position: relative;
  background: #353535;
}

#blog {
  width: 100vw;
  position: relative;
  background: #353535;
  padding-top: 4em;
  padding-bottom: 2em;
}

#blog-header,
#contact-header,
#projects-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #353535;
  font-size: 54px;
  margin-bottom: 1.5%;
  font-weight: 500;
  text-align: center;
}

#contact-header, #blog-header {
  color: #fff;
}

.blog-grid {
  margin: 4em 4em;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(4, 1fr)
}

.blog-grid a {
  text-decoration: none;
}

.blog-item {
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 16em;
  background: #fff;
  transition: 1s ease;
}

.blog-item:hover {
  background: #c0a583;
}

.blog-item:hover .blog-content .blog-title,
.blog-item:hover .blog-content .blog-date time {
  color: #fff;
  transition: 1s ease;
}

.blog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.blog-title {
  font-size: 3.5vh;
  margin-bottom: 0.4em;
  font-family: 'Barlow Condensed', sans-serif;
}

.blog-date {
  font-size: 2.5vh;
  font-weight: 300;
  margin-bottom: 0.75em;
}

.blog-date time {
  color: #c0a583;
  font-family: 'Inconsolata', monospace;
}

#contact {
  position: relative;
  background: #353535;
  width: 100vw;
  padding-top: 6em;
}

#quote {
  background: url(../splash2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100vw;
  height: 50vh;
}

#quote2 {
  background: url(../splash2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;
}

.quote-overlay {
  background: rgb(80, 61, 39);
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.project-line {
  border: 0.5px solid #fff;
  background: #fff;
  width: 75px;
  margin: 25px auto;
  transition: 1s ease;
}

.project-line-hover {
  border: 0.5px solid #fff;
  background: #fff;
  width: 175px;
  margin: 25px auto;
  transition: 1s ease;
}

.splash-line {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 125px;
  background: #fff;
  opacity: 0.75;
  transition: 1s ease;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

.splash-line-hover {
  margin: 1em auto;
  border: 1px solid #fff;
  width: 300px;
  background: #fff;
  opacity: 0.75;
  transition: 1s ease;
}

.line {
  margin: 1em auto;
  border: 1px solid #c0a583;
  background: #c0a583;
  width: 0px;
  transition: 3s ease;
}

.line-scroll {
  margin: 1em auto;
  border: 1px solid #c0a583;
  background: #c0a583;
  width: 225px;
  transition: 3s ease;
}

#copyright {
  background: #c0a583;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1200px) {

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 5%;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr)
  }

  .nav-unscrolled .navlogo a,
  .nav-scrolled .navlogo a {
    font-size: 32px;
    margin-left: 1em;
  }

  .about-content {
    margin: 5% 10%;
  }
  
}

@media screen and (max-width: 800px) {

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }

  .blog-item {
    height: 14em;
  }

  .blog-grid {
    margin: 2em 1em;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr)
  }

  .blog-item {
    height: 10em;
  }

  .about-content {
    margin: 5% 5%;
  }

  .about-content p {
    line-height: 1.5em;
  }

  .contact-icon {
    width: 48px;
    font-size: 0.8em;
  }

  .contact-icon:not(:last-child) {
    margin-right: 1.5em; 
  }

  .splash-intro {
    width: 95%;
  }
  
  .splash-name {
    font-size: 3.8em;
  }
  
  .splash-bio {
    font-size: 2em;
  }
  
  .splash-button a {
    width: 7em;
  }

  .project-text {
    width: 90%;
  }

  #about-mystory {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
  
  #about-skills {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }

  #blog-header, 
  #projects-header,
  #contact-header {
    font-size: 3em;
  }

  .nav-unscrolled .navlinks, 
  .nav-scrolled .navlinks {
    margin-left: 1.5em;
    padding-right: 0;
    float: left;
  }

  .nav-unscrolled,
  .nav-scrolled {
    height: 70px;
  }

  #splash {
    background-attachment: scroll;
  }

  #quote, #quote2 {
    background: #c0a583;
  }

  #quote, #quote2 {
    height: 8vh;
  }

  .quote-overlay {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .nav-unscrolled .navlinks a, 
  .nav-scrolled .navlinks a {
    margin-top: 0;
  }

}