section:nth-child(6) {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

#blog {
  width: 100vw;
  position: relative;
  background: #353535;
  padding-top: 10em;
  padding-bottom: 10em;
}

#blog-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #353535;
  font-size: 54px;
  margin-bottom: 1.5%;
  font-weight: 500;
  text-align: center;
}

#blog-header {
  color: #fff;
}

.blog-grid {
  margin: 4em 4em;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(4, 1fr);
}

.blog-grid a {
  text-decoration: none;
}

.blog-item {
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 14em;
  background: #fff;
  transition: 0.2s ease;
}

.blog-item:hover {
  background: #c0a583;
  box-shadow: #e0c099 0px 3px 30px;
  transition: 0.2s ease;
}

.blog-item:hover .blog-content .blog-title,
.blog-item:hover .blog-content .blog-date time {
  color: #fff;
  transition: 0.2s ease;
}

.blog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.blog-title {
  text-align: center;
  font-size: 2.5vh;
  margin-bottom: 0.4em;
  font-family: 'Barlow Condensed', sans-serif;
  transition: 0.2s ease;
}

.blog-date {
  text-align: center;
  font-size: 2.3vh;
  font-weight: 300;
  margin-bottom: 0.75em;
}

.blog-date time {
  color: #c0a583;
  font-size: 0.75em;
  transition: 0.2s ease;
}

@media screen and (max-width: 1200px) {
  section:nth-child(6) {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .blog-grid {
    margin: 2em 1em;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-item {
    height: 8em;
  }

  #blog {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  #blog-header {
    font-size: 3em;
  }
}
